h1{
    color: brown;
}
h2{
    color: blueviolet;
}
h3{
    color: green;
}
h4{
    color: fuchsia;
}
td{
    color:red;
}

footer{
    background-color: sandybrown;
}
body{
    background-color:violet;
}
header{background-color: olivedrab;}